[submodule "modules/ngx_http_extra_vars_module"]
	path = modules/ngx_http_extra_vars_module
	url = https://git.hanada.info/hanada/ngx_http_extra_vars_module.git
[submodule "modules/ngx_http_cache_purge_module"]
	path = modules/ngx_http_cache_purge_module
	url = https://github.com/nginx-modules/ngx_cache_purge.git
[submodule "modules/ngx_http_geoip2_module"]
	path = modules/ngx_http_geoip2_module
	url = https://github.com/leev/ngx_http_geoip2_module.git
[submodule "modules/ngx_http_dav_ext_module"]
	path = modules/ngx_http_dav_ext_module
	url = https://github.com/arut/nginx-dav-ext-module.git
[submodule "modules/ngx_http_flv_live_module"]
	path = modules/ngx_http_flv_live_module
	url = https://github.com/winshining/nginx-http-flv-module.git
[submodule "modules/ngx_http_vhost_traffic_status_module"]
	path = modules/ngx_http_vhost_traffic_status_module
	url = https://github.com/vozlt/nginx-module-vts.git
[submodule "modules/ngx_http_upstream_check_module"]
	path = modules/ngx_http_upstream_check_module
	url = https://github.com/yaoweibin/nginx_upstream_check_module.git
[submodule "modules/ngx_http_sorted_querystring_module"]
	path = modules/ngx_http_sorted_querystring_module
	url = https://github.com/wandenberg/nginx-sorted-querystring-module.git
[submodule "modules/ngx_http_fancyindex_module"]
	path = modules/ngx_http_fancyindex_module
	url = https://github.com/aperezdc/ngx-fancyindex.git
[submodule "modules/ngx_http_replace_filter_module"]
	path = modules/ngx_http_replace_filter_module
	url = https://github.com/openresty/replace-filter-nginx-module.git
[submodule "modules/ngx_http_lua_cache_module"]
	path = modules/ngx_http_lua_cache_module
	url = https://github.com/AlticeLabsProjects/lua-upstream-cache-nginx-module.git
[submodule "modules/ngx_http_qrcode_module"]
	path = modules/ngx_http_qrcode_module
	url = https://github.com/soulteary/ngx_http_qrcode_module.git
[submodule "lualib/lua-resty-maxminddb"]
	path = lualib/lua-resty-maxminddb
	url = https://git.hanada.info/hanada/lua-resty-maxminddb.git
[submodule "lualib/lua-resty-multipart-parser"]
	path = lualib/lua-resty-multipart-parser
	url = https://github.com/agentzh/lua-resty-multipart-parser.git
[submodule "patches/ngx_core_patches"]
	path = patches/ngx_core_patches
	url = https://git.hanada.info/hanada/ngx_core_patches.git
[submodule "patches/ngx_http_tls_dyn_size"]
	path = patches/ngx_http_tls_dyn_size
	url = https://github.com/nginx-modules/ngx_http_tls_dyn_size.git
